<div class="container mt-4">
  <h1 class="text-center">Listado Clientes Guardados</h1>
  <a [routerLink]="[ '/form' ]"><button type="button" mdbBtn color="primary" mdbWavesEffect>Crear</button></a>
  <table mdbTable>
    <thead class="black white-text">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Direccion</th>
      </tr>
    </thead>
    <tbody>
      <tr mdbTableCol *ngFor="let cliente of clientes">
        <th scope="row">{{cliente.id}}</th>
        <td>{{cliente.nombre}}</td>
        <td>{{cliente.apellido}}</td>
        <td>{{cliente.direccion}}</td>
      </tr>
    </tbody>
  </table>
</div>
